main {
    padding: 30px;

    .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .posts-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 410px));
        gap: 5px;
        padding-top: 20px;
        justify-content: space-around;

        .post {
            min-height: 161px;
            background-color: #F5F5F5;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;

            .title-post {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
                cursor: pointer;
            }

            .description-post {
                font-size: 14px;
                max-height: 60px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            button {
                width: 167px;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 360px) {
   .buttons-container {
        flex-direction: column;
        gap: 5px;
    }
}