main {
    padding: 2% 5%;

    .topics-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 410px));
        gap: 5px;
        justify-content: space-around;

        .topic {
            min-height: 161px;
            background-color: #F5F5F5;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;

            .title-topic {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;;
            }

            .description-topic {
                font-size: 14px;
                max-height: 60px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            button {
                width: 167px;
                margin: 0 auto;
            }
        }
    }

}

@media (max-width: 425px) {
   
    
}
