<app-header></app-header>
<main>
  <section class="me-container">
    <h1>Profil utilisateur</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <input matInput id="name" formControlName="name" type="text" />
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Email invalide
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput id="email" formControlName="email" type="email" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Mot de passe requis
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input
          matInput
          id="password"
          formControlName="password"
          type="password"
          placeholder="Mot de passe"
        />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Mot de passe est requis
        </mat-error>
      </mat-form-field>

      <div
        class="password-hint"
        *ngIf="
          form.get('password')?.hasError('strongPassword') &&
          form.get('password')?.touched
        "
      >
        Le mot de passe doit contenir :
        <ul>
          <li>8 caractères minimum</li>
          <li>1 majuscule</li>
          <li>1 minuscule</li>
          <li>1 chiffre</li>
          <li>1 caractère spécial</li>
        </ul>
      </div>

      <button mat-raised-button color="primary" type="submit">
        Sauvegarder
      </button>
    </form>
  </section>
  <hr />
  <section class="topics-container">
    <h1>Abonnements</h1>
    <div class="topics-list">
      <div class="topic" *ngFor="let topic of subscriptions">
        <div class="title-topic">{{ topic.title }}</div>
        <div class="description-topic">
          {{ topic.description.replaceAll("?", "'") }}
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="unsubscribe(topic.id)"
        >
          Se désabonner
        </button>
      </div>
    </div>
  </section>
</main>
