main {
    padding: 2% 5%;
    
    .me-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      form {
        display: flex;
        flex-direction: column;
        width: 200px;
        gap: 5px;

        .password-hint {
          font-size: 10.5px;
          color: red;
          margin-top: -8px;

          ul {
            margin: 4px 0 0 16px;
            padding: 0;
          }
        }
      }
    }

    hr {
      width: 60%;
      margin: 20px auto;
      border: solid 1px black;
    }

    .topics-container {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

        .topics-list {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(auto, 410px));
          gap: 5px;
          width: 100%;
          justify-content: space-around;

          .topic {
              min-height: 161px;
              background-color: #F5F5F5;
              border-radius: 8px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding: 10px;
  
              .title-topic {
                  font-size: 16px;
                  font-weight: bold;
                  margin-bottom: 10px;;
              }
  
              .description-topic {
                  font-size: 14px;
                  max-height: 60px;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }
  
              button {
                  width: 167px;
                  margin: 0 auto;
              }
          }
        }
    }
}