main {
    padding: 2% 5%;
    
    .me-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      form {
        display: flex;
        flex-direction: column;
      }
    }

    hr {
      width: 60%;
      margin: 20px auto;
      border: solid 1px black;
    }

    .topics-container {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

        .topics-list {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
          gap: 5px;
          width: 100%;

          .topic {
              width: 391px;
              height: 161px;
              background-color: #F5F5F5;
              border-radius: 8px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding: 10px;
  
              .title-topic {
                  font-size: 16px;
                  font-weight: bold;
                  margin-bottom: 10px;;
              }
  
              .descrition-topic {
                  font-size: 14px;
                  width: 100px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }
  
              button {
                  width: 167px;
                  margin: 0 auto;
              }
          }
        }
        

    }
    
}