main {
    padding: 2% 5%;
    
    .register-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
      form {
        display: flex;
        flex-direction: column;
      }
    }
    
}