main {
    padding: 2% 5%;
    
    .create-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
      form {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
}