/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0 auto; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    position: relative;
}

.mat-error { 
    font-size: 10.5px; 
    color: red; 
    margin-bottom: 5px;
}
