.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 80px;
  }
}

@media (max-width: 650px) {
  img {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .center {
    img {
      width: 225px;
    }
  
    .buttons {
      gap: 25px;
      flex-direction: column;
    }
  }
}
